<h4>Top Teams</h4>
<div class="row"> 
	<div class="card blue-grey lighten-5">
  		<div class="card-content black-text">
			<table class="bordered, hoverable">
			    <thead>
			      <tr>
			          <th data-field="id">Division</th>
			          <th>Organization</th>
			          <th data-field="name">Name</th>
			          <th data-field="price">Cumulative Points</th>
			      </tr>
			    </thead>

			    <tbody>
			      <tr>
			        <td>Alvin</td>
			        <td>Eclair</td>
			        <td>$0.87</td>
			      </tr>
			      <tr>
			        <td>Alan</td>
			        <td>Jellybean</td>
			        <td>$3.76</td>
			      </tr>
			      <tr>
			        <td>Jonathan</td>
			        <td>Lollipop</td>
			        <td>$7.00</td>
			      </tr>
			    </tbody>
			  </table>
		</div>
	</div>
</div>

<% if (current_user.role? (:coach)) or (current_user.role? (:admin)) %>
	<div class="row"> 
		<h5>Inactive Teams</h5>
		<table>
			<thead>
		      <tr>
		          <th data-field="id">Name</th>
		      </tr>
		    </thead>

		    <tbody>
				<% @inactive_teams.each do |team| %>
				<tr>
					<td><%= link_to team.name, team_path(team) %></td>
				</tr>
				<% end %>
		    </tbody>
		</table>
	</div>
<% end %>

