<div = class"row">
	<div class="card">
		<%= high_chart("some_id", @performance_chart) %>
	</div>
</div>	

<div class="row">
	<div class="card">
		<%= high_chart("some_id", @member_chart) %>	
	</div>
</div>
