<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
  categories = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
  series_name = 'sadfkj';
  series_data = [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6];
</script>
<script type="text/javascript" src="/js/highcharts.js"></script>
<script type="text/javascript" src="/js/highchartscss.js"></script>



<div class="row">
	<div id="graph"></div>
</div>


<div class="row">
	<%= high_chart("some_id", @chart) %>
</div>

