<h5> Team Standing </h5>
<div class="card blue-grey lighten-5">
  <div class="card-content black-text">
    <div class="divider"></div>
      <table class="responsive-table">
	    <thead>
	      <tr>
	          <th data-field="id">Division</th>
	          <th>Organization</th>
	          <th data-field="name">Name</th>
	          <th data-field="price">Cumulative Points</th>
	      </tr>
	    </thead>
        <tbody>
          <tr>
            <td>Alexa Smith</td>
            <td>750</td>
            <td>80%</td>
          </tr>
          <tr>
            <td>Alan Smith</td>
            <td>650</td> 
            <td>75%</td>
          </tr>
          <tr>
            <td>Chriss Smith</td>
            <td>600</td>
            <td>70%</td>
          </tr>
        </tbody>
	  </table>
	</div>
</div>