
<% @divisions.each do |d| %>

<div class= "row">
    <div class="card-panel">
    <h5 class="header"> <%= d.name %></h5>
    <table class="hoverable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Organization3</th>
        </tr>
      </thead>

      <tbody>
        <% @active_teams.each do |team| %>
          <% if team.division == d %>
            <tr>
              <td><%= link_to team.name, team_path(team) %></td>
              <td><%= team.organization.name %></td>

            </tr>
          <% end %>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
<% end %>