<div class = "col s10">
	<h3>
		<%= @team.name %>
	</h3>
</div>
<div class = "col s1">
	<br>
	<p class = "small">
		<i class="small mdi-action-turned-in"></i>
		<br>
		<font size = "1"><strong>3 WINS</strong></font>
	<p>
</div>
<div class = "col s1">
	<br>
	<p class = "small">
		<i class="small mdi-action-turned-in-not"></i>
		<br>
		<font size = "1"><strong>2 WINS</strong></font>
	<p>
</div>