<h1>Active Teams</h1>

<% @divisions.each do |d| %>
  <div style="background-color: #61b6d9; width:100%; text-align:center">
    <b style="color:white; width:100%;"><%= d.name %></b>
  </div>
  <div>
    <table style="width:100%;">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Organization</th>
	</tr>
      </thead>

      <tbody>
	<% @active_teams.each do |team| %>
	<% if team.division == d%>
	<tr>
          <td><%= link_to team.name, team_path(team) %></td>
          <td><%= team.organization.name %></td>
	  <% if can? :update, team %>
            <td>
	      <%= link_to 'Edit', 
		  edit_team_path(team),
		  class: "button tiny radius" %>
	    </td>
	  <% end %>
	</tr>
	<% end %>
	<% end %>
      </tbody>
    </table>
  </div>
<% end %>
