
	<p>
	  <strong>Division:</strong>
	  <%= "#{@team.division.name.capitalize}" %>
	</p>

	<br>

	<p class = "small">
		<font size = "5">&nbsp;<%= @team.team_standing.total_points%> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;<%= "#{@accuracy_percentage}%"%></font><br>
		total points &nbsp;&nbsp;&nbsp;&nbsp;average accuracy
	</p>
