<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Organization</th>
      <th>Division</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>
        <td><%= team.organization.name %></td>
        <td><%= team.division.name %></td>
        <td><%= link_to 'Edit', edit_team_path(team),class: "button tiny radius" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


