<h5>Upcoming Events</h5> 

<% unless @upcoming_events.empty? %>
  <div class="collection">
    <% @upcoming_events.each do |event| %>
      <li class="collection-item"><div><%=event.organization.name%><a href="#!" class="secondary-content"><i><%= event.start_date %></i></a></div></li>
    <% end %>
  </div>

<% else %>
  <h6> No upcoming events </h6>

<% end %>


