<h5>Upcoming Events</h5> 

<% unless @upcoming_events.empty? %>
  <div class="collection">
    <% @upcoming_events.each do |event| %>
      <div class="collection-item blue-grey lighten-5">
      	<div><%=event.organization.name%><a href="#!" class="secondary-content"><i><%= event.start_date %></i></a>
      	</div>
      </div>
    <% end %>
  </div>

<% else %>
  <h6> No upcoming events </h6>

<% end %>


