<%= render partial: "partials/structure_1", locals: {model_name: "team", 
                                                         primary: "teams", 
                                                         secondary: nil,
                                                         sidebar: nil,
                                                         options: "partials/new_options"} %>

<!-- <div class="row">
  <div class="small-7 columns">   
      <%# render :partial => "teams" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
  </div>
</div> -->
