<div id="students">
  <div class="card blue-grey lighten-5">
    <div class="subtitle card-content black-text">
      <span class="card-title black-text">
        <div class="row">
          <div class="col m8">Students</div>
          <div class="col m4">
            <p class="subtitle"> Total: <%=student_type.size%> </p>
          </div>
        </div>
      </span>
      <div class="divider"></div>
      <table class="center">
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Grade</th>
          <th>Active</th>
        </thead>
        <tbody>
          <% student_type.each do |s| %>
            <tr>
              <td><%=s.first_name%></td>
              <td><%=s.last_name%></td>
              <td><%=s.grade%></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>