<div class="container">
  <div class="row">
    <h3>Password Reset</h3>

    <p>If you forgot your password, provide your email and if it matches what we have 
      on file, we will send you an option to reset the password. Please note that this 
      option is time-dependent and is good for only one hour; if you do not complete 
      this process in this time, your password will remain as it was last set.</p><br>
  </div>

  <div class="row">
    <div class="card">
      <div class="card-content white-text">
        <div class="col m8">
          <%= form_tag password_resets_path, method: :post do %>

            <div class="field">
              <%= label_tag :email, "Email: " %>
              <%= text_field_tag :email, params[:email] %>
            </div>
        </div>


<br>
        <div class="col m4">
        <!-- <p>&nbsp;</p> -->
          <button class="btn waves-effect waves-light right" type="submit" name="action">Reset Password<i class="mdi-content-send right"></i>
          </button> 
        </div>
        <% end %>

    </div>
  </div>
</div>