<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Team</th>
      <th>Points</th>
      <th>Accuracy</th>
    </tr>
  </thead>

	<tbody>
		<th>Juniors</th>
			<% @juniors.each do |j| %>
			<tr>
				<td><%= j.position %></td>
				<td><%=	j.team.name %></td>
				<td><%= j.total_points %></td>
				<td><%= j.accuracy %></td>
			</tr>
			<% end %>
	</tbody>
</table>