<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Student</th>
      <th>Total Points</th>
    </tr>
  </thead>

	<tbody>
		<th>Senior B</th>
			<% @seniorb.each do |j| %>
			<tr>
				<td><%= j.position %></td>
				<td><%= j.student.name %></td>
				<td><%= j.total_points %></td>
			</tr>
			<% end %>
	</tbody>
</table>