<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Team</th>
      <th>Points</th>
      <th>Accuracy</th>
    </tr>
  </thead>

	<tbody>
		<th>Seniors</th>
			<% @seniors.each do |s| %>
			<tr>
				<td><%= s.position %></td>
				<td><%=	s.team.name %></td>
				<td><%= s.total_points %></td>
				<td><%= s.accuracy %></td>
			</tr>
			<% end %>
	</tbody>
</table>