<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Team</th>
      <th>Points</th>
      <th>Accuracy</th>
    </tr>
  </thead>

	<tbody>
		<th>Seniors</th>
			<% @seniorb.each do |sb| %>
			<tr>
				<td><%= sb.position %></td>
				<td><%=	sb.team.name %></td>
				<td><%= sb.total_points %></td>
				<td><%= sb.accuracy %></td>
			</tr>
			<% end %>
	</tbody>
</table>