<% if current_user.role == "admin" %>
  <% unless @inactive_students.empty? %>
    <div class="panel clearfix">
      <h5>Inactive Students</h5>
      <ul>
        <% @inactive_students.each do |student| %>
          <li><%= link_to student.name, student_path(student) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>



