<h1>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.proper_name %></td>
        <td><%= student.current_team.name %></td>
        <td><%= link_to 'Edit', edit_student_path(student), class: "button tiny radius" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

