<h1>Active Students</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Division</th>
    </tr>
  </thead> -->

<% @divisions.each do |d| %>
  <div style="background-color: #61b6d9; width:100%; text-align:center">
    <b style="color:white; width:100%;"><%= d.name %></b>
  </div>
  <div>
    <table style="width:100%;">
      <thead>
  <tr>
    <th>Name</th>
    <th>Team</th>
    <th>Division</th>
  </tr>
      </thead>

  <tbody>
    <% @active_students.each do |student| %>
      <% if student.current_team.division == d%>
      <tr>
        <td><%= link_to student.name, student_path(student) %></td>
        <td><%= student.current_team.name %></td>
        <td><%= student.current_team.division.name %></td>
	<% if current_user.role == "coach" && current_user.coach.organization_id == student.current_organization.id %>
          <td><%= link_to 'Edit', edit_student_path(student), class: "button tiny radius" %></td>
	  <% end %>
  </tr>
  <% end %>
  <% end %>
      </tbody>
    </table>
  </div>
<% end %>
