<h1>Active Students</h1>

<% @divisions.each do |d| %>
 <div class="small-4 columns">   
   <%= render :partial => "students_by_division", locals: { div: d } %>

 </div>

<% end %>

<!-- placeholder for now -->
<div class= "small-3 columns">
  <% unless @new_students.empty? %>
    <h4>Students Without a Team</h4>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Team</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @new_students.each do |student| %>
          <tr>
            <td><%= link_to student.name, student_path(student) %></td>
            <td><%= student.current_team.name %></td>
            <% if current_user.role == "coach" && current_user.coach.organization_id == student.current_organization.id %>
              <td><%= link_to 'Edit', edit_student_path(student), class: "button tiny radius" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  
</div>

