<table>
  <thead> Top Students </thead>
    <tr>
      <th data-field="id">Rank</th>
      <th data-field="name">Student</th>
      <th data-field="price">Score</th>
    </tr>
  </thead>

  <tbody>
    <% @top_standings.each do |standing| %>
      <tr>
        <!--Placeholder for when Nick's standing model -->
        <td><%=standing.position %></td>
        <td><%= link_to standing.student.name, student_path(standing.student) %></td>
        <td><%=standing.total_points %></td>
      </tr>
    <% end %>
  </tbody>
</table>