<h5>Top Students</h5>
  <div class="card blue-grey lighten-5">
    <div class="card-content black-text">
      <div class="divider"></div>
        <table class="responsive-table">
          <thead>
            <tr>
              <th data-field="id">Rank</th>
              <th data-field="name">Student</th>
              <th data-field="price">Score</th>
            </tr>
          </thead>
          <tbody>
            <% @junior_standings.each do |standing| %>
              <tr>
                <td><%=standing.position %></td>
                <td><%= link_to standing.student.name, student_path(standing.student) %></td>
                <td><%=standing.total_points %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
    </div>
  </div>