<h5>Upcoming events</h5>

<% unless @upcoming_events.empty? %>
<ul class="collection">
	<% @upcoming_events.each do |event| %>
		<div class="collection-item blue-grey lighten-5">
			<div><%=event.organization.name%><a href="#!" class="secondary-content"><i><%= event.start_date %></i></a>
		</div>
	<%end%>
</ul>
<%end%>

