<div class="row">
  <div class="small-7 columns">   
    <!-- all students -->
      <%= render :partial => "students" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
  </div>
</div>

