  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <%#= link_to "Bible Quizzing", home_path %>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li>
            <%= link_to "Home", home_path %>
          </li>

          <li>
            <%= link_to "Events", events_path %>
          </li>

          <li class="has-dropdown">
            <%= link_to "Standings" %>
            <ul class="dropdown">
              <li><%= link_to "Individual", indiv_standings_path %></li>
              <li><%= link_to "Team", team_standings_path %></li>
            </ul>
          </li>

          <li>
            <%= link_to "Students", students_path %>
          <li>

          <li>
            <%= link_to "Teams", teams_path %>
          <li>
          
        </ul>
      </section>
    </nav>
  </div>