<!--  once code is merged, need to get area admin email from settings -->

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">CMA Bible Quizzing</h5>
                <p class="grey-text text-lighten-4"> CMA Bible Quizzing is a platform that helps manage Bible quizzing competitions sanctioned by The Alliance ministries. </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">More Information</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Rule Book</a></li>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="http://www.cmalliance.org/">CMA Home</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 CMU IS Projects, All Rights Reserved

            <a class="grey-text text-lighten-4 right" href="mailto:profh@cmu.edu">Contact Area Administrator</a>
            </div>
          </div>
        </footer>
