<!--This is the default COACH partial-->
<div class="row">
  <div class="col s6">
    <!-- primary partial gets displayed here in main div -->
    <%= render partial: "#{primary}" %>
  </div>
  <div class="col s6">
    <!-- render the sidebar, if it exists -->
    <%= render partial: "#{secondary}" %>
  </div>
</div>

<div class="row">
  <!-- render a set of options, if they exist -->
  <%= render partial: "#{graphs}", 
      locals: {model_name: model_name,
      object: object} unless options.blank? %>
</div>
