<!-- this partial struct is primary for the student index page page -->
<div class="row">
  <div class="small-12 columns">
    <!-- partial for Divisions -->
    <%= render partial: "#{primary}" %>
    <!-- partial for Inactive Students  -->
    <% unless bottom.nil? %>
      <p>&nbsp;</p>
      <%= render partial: "#{bottom}" %>
    <% end %>
    
  </div>
  
<div class="row">
  <!-- render a set of options, if they exist -->
  <%= render partial: "#{options}", locals: {model_name: model_name, object: object} unless options.blank? %>
</div>
