<header>
<nav class="top-nav cyan lighten-2">
  <div class="container">
    <div class="nav-wrapper">

    <a class="page-title">Western PA</a>
    <ul class="right hide-on-med-and-down">
        <li class="toggle-search"><i class="fa fa-search"></i></li>
         <li class="bold"><%= link_to login_path do %>
    		<i class="fa fa-key left"></i>  Login
    	<% end %></li>
    </ul>
    </div>
  </div>

  <div class="row white-text blue-grey darken-3" id="search-bar">
    <div class="container">
      <div class="nav-wrapper">
        <form action="https://www.google.com/search" method="get">
          <input class="form-control" type="text" name="q" placeholder="Search ...">
          <input type="hidden" name="as_sitesearch">
        </form>
      </div>
    </div>
  </div>

 </nav>
</header>




