<nav class="top-nav light-blue lighten-1">
  <div class="container">
    <div class="nav-wrapper container">

    <a class="page-title">Western PA</a>
    <ul class="right hide-on-med-and-down">
        <li><a href="#" id="toggle-search"><i class="mdi-action-search"></i></a></li>
    </ul>
    </div>
  </div>
 </nav>

  <div class="container" id ="search-bar">
    <div class="nav-wrapper container">
  <form>
  		<div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="mdi-action-search"></i></label>
          <i class="mdi-navigation-close"></i>
        </div>
      </form>
</div>
</div>

 </nav>