<!--first copied and pasted from individual standings-->
<!--TODO: turn into tab with individual standings-->

<% division = passed_in_div %>
<% @year_div_teams = YearTeam.get_all_teams_for_division_for_year(division) %>

<% unless @year_div_teams.empty? %><!--No teams for this division (highly unlikely and probably unrealistic)-->

  <h4 align="center"><%= "#{division.name} Team" %></h4>

  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <% rank_counter = 0 %>          
        <th align="center">Name</th>
        <th align="center">Points</th>
      </tr>
    </thead>

      <tbody>
        <% @year_div_teams.each do |t| %>
          <% unless t.total_yt_points == 0 %><!--Didn't compete-->
          <tr>
            <% rank_counter+=1 %><!--first team's rank outputted as 1-->
            <td style="text-align: center;"><%= rank_counter %></td>
            <td ><%= link_to t.name, team_path(t.team) %></td>
            <td align="center" style="text-align: center;"><%= t.total_yt_points %></td>
          </tr>
          <% end %><!--unless-->
        <% end %>
      </tbody>
    </table>

<% end %>
