
<h2 align='center'>Individual standings </h2>

 <div class="small-12 columns">
 <% @divisions.each do |dvsn| %>  
   <%= render partial: "individual_standings_data", locals: { passed_in_div: dvsn } %>
 <% end %>
 </div>


&nbsp;
<h4 style="text-align: left;"><%= link_to "See Team Standings", team_standings_path %></h4>