
<h2 align='center'>Individual standings </h2>

<% @divisions.each do |dvsn| %>
 <div class="small-4 columns">   
   <%= render partial: "individual_standings_data", locals: { passed_in_div: dvsn } %>
 </div>
<% end %>

&nbsp;
<h4 style="text-align: left;"><%= link_to "See Team Standings", team_standings_path %></h4>