&nbsp;
<h3>Please Select a Division:</h3>
<%= form_tag(indiv_standings_path, method: :get, remote: true) do %>
	<%= select_tag("id", options_from_collection_for_select(Division.alphabetical.all, "id", "name"), onchange: "this.form.submit()") %>
<% end %>

<%= render partial: "individual_standings_data" %>

