</br>
<h2 align='center'>Team Standings </h2></br>

<% @divisions.each do |dvsn| %>

 <div class="small-4 columns">   
   <%= render partial: "team_standings_data", locals: { passed_in_div: dvsn } %>
 </div>

<% end %>