<div class="container">
	<h5>About</h5>
	<p> This site provides information for Pittsburgh area C&MA quizzing, including student and team performance for all area quizzes. C&MA quizzing provides a fun, spiritual enviornment for children grades 2 to 12.
	</p> 
</div>