
<div class="row">
	<h5>About</h5>
	<p> This site provides information for Pittsburgh area C&MA quizzing, including student and team performance for all area quizzes. C&MA quizzing provides a fun, spiritual enviornment for children grades 2 to 12.
	</p> 
</div>

<% if current_user.role?(:admin) %>
	<div class="row">
 		<a class="waves-effect waves-light btn modal-trigger" href="#coachlist">See All Coaches</a>
	</div>
<% end %>


  <!-- Modal Trigger -->
 

  <!-- Modal Structure -->
  <div id="coachlist" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>List of All Coaches</h4>

		<table>
			<thead>
			  <tr>
			      <th data-field="id">Name</th>
			      <th data-field="name">Email</th>
			      <th data-field="price">Phone Number</th>
			  </tr>
			</thead>

			<tbody>
				<% @coaches.each do |c| %>
					<tr>
						<td><%= c.proper_name %></td>
						<td><%= c.user.email %></td>
						<td><%= c.phone %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
            
    </div>

  </div>



