<!-- General Home Page for the Public -->
<div class="row"></br>
  <div class="small-7 columns">
  	<!-- Welcome message for general public -->
    <%= render partial: 'welcome_general' %>
    <br />
    <!-- Upcoming Events Partial -->
    <%= render partial: 'events/upcoming_events', locals: {upcoming_events: @upcoming_events} %>    
  </div>

  <div class="small-5 columns">
    <%#= image_tag 'andrew_reay_cropped', class: "home" %>
    <%= image_tag 'pyramid'%>
  </div>
</div>
