<!-- General Home Page for the Public -->
<div class="row">
  <div class="small-8 columns">
  	<!-- Welcome message for general public -->
    <%= render partial: 'welcome_general' %>
    <br />

    <!-- Upcoming Events Partial -->
    <%= render partial: 'events/upcoming_events', locals: {upcoming_events: upcoming_events} %>    
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-3 columns">
  </div>
</div>