
		<h5> Upcoming Events</h5>
		<table class="bordered, hoverable">
			<thead>
				<tr>
					<th width="140">Date</th>
					<th width="280">Location</th>
				</tr>
			</thead>
			<tbody>
				<% @upcoming_events.each do |event| %>
				<tr>
					<td><%= link_to event.start_date.strftime('%B %d, %Y'), event_path(event) %></td>
					<td><%#= link_to event.organization.name, organization_path(event.organization) %>
						<%= event.organization.name %>
					</td>>
				</tr>
				<% end %>
			</tbody>
		</table>
		<h5> Past Events</h5>
		<table class="bordered, hoverable">
			<thead>
				<tr>
					<th width="140">Date</th>
					<th width="280">Location</th>
				</tr>
			</thead>
			<tbody>
				<% @past_events.each do |event| %>
				<tr>
					<td><%= link_to event.start_date.strftime('%B %d, %Y'), event_path(event) %></td>
					<td><%#= link_to event.organization.name, organization_path(event.organization) %>
						<%= event.organization.name %>
					</td>>
				</tr>
				<% end %>
			</tbody>
		</table>
