
		<h5> Upcoming Events</h5>
		<table class="bordered">
			<tbody>
				<% @upcoming_count = 0 %>
				<% @upcoming_events.each do |event| %>
					<% if @upcoming_count < 2 %>
						<tr>
							<td><%= link_to event.start_date.strftime('%B %d, %Y'), event_path(event) %></td>
							<td><%#= link_to event.organization.name, organization_path(event.organization) %>
								<%= event.organization.name %>
							</td>
						</tr>
						<% @upcoming_count += 1 %>
					<% end %>
				<% end %>
			</tbody>
		</table>
		<h5> Past Events</h5>
		<table class="bordered">
			<tbody>
				<% @past_count = 0 %>
				<% @past_events.each do |event| %>
					<% if @past_count < 2 %>
						<tr>
							<td><%= link_to event.start_date.strftime('%B %d, %Y'), event_path(event) %></td>
							<td><%#= link_to event.organization.name, organization_path(event.organization) %>
								<%= event.organization.name %>
							</td>
						</tr>
						<% @past_count += 1 %>
					<% end %>
				<% end %>
			</tbody>
		</table>
