<!-- Welcome Message for Public -->
<div id="welcome">
	<div class="panel clearfix">
		<h4>
		Welcome to Western PA Bible Quizzing! <br />
		Bible Quizzing is a fun, competitive way for kids grades 3-12 to learn, memorize and recite the Bible. 
		</h4>
	</div>
</div>

