<!-- Welcome Message for Public -->
<div class="panel clearfix">
<h4>
	<!-- This is a draft description -->
	Welcome to Western PA Bible Quizzing! We believe Bible Quizzing armors kids with the Living Word.
</h4>
</div>