


  <!-- TODO: how to do this? put code in model or controller -->
  <!--<strong>Contact Person:</strong><br /><br />-->

<% @divisions.each do |dvsn| %>

 <div class="small-4 columns">
   <%= render partial: "event_standings", locals: { passed_in_div: dvsn } %>
 </div>

<% end %>
