<!-- List of events-->
<h1>This year's events</h1>

<table>
  <thead>
    <tr>
      <th width="140">Date</th>
      <th width="280">Location</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.start_date.strftime('%B %d, %Y'), event_path(event) %></td>
        <td><%#= link_to event.organization.name, organization_path(event.organization) %>
            <%= event.organization.name %>
        </td> 
        <td><%= link_to 'Edit', edit_event_path(event), class: "button tiny radius" %></td>
        <!--<td><%#= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>


