<!-- List of events-->
<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th width="140">Start date</th>
      <th width="280">Location</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.start_date.strftime('%B %d, %Y'), event_path(event) %></td>
        <td><%#= link_to event.organization.name, organization_path(event.organization) %>
            <%= event.organization.name %>
        </td> 
        <td><%= link_to 'Edit', edit_event_path(event), class: "button tiny radius" %></td>
        <!--<td><%#= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>

<!-- from DataTables -->
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
  
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>

