<div class="row">
  <div class="small-8 columns">   
    <!-- this year's events -->
      <%= render :partial => "events" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-3 columns">
    <!-- previous years' events -->
  </div>
</div>
