<!-- <div class="row">
  <div class="small-7 columns">
    <%# render :partial => "event_details" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns"> -->

  	<!-- TODO: add team registrations, fix geocoding, make separate page for standing and quiz details
  </div>
</div> -->


<%= render partial: "partials/structure_1", locals: {model_name: "event", 
                                                         primary: "event_details", 
                                                         secondary: nil,
                                                         sidebar: nil,
                                                         options: "partials/object_options", object: @event} %>