<div class="row">
  <div class="small-6 columns">
    <%= render :partial => "show_details" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-5 columns">
  </div>
</div>