<div class="card white">
            <div class="card-content black-text">
              <span class="card-title black-text"><i id="top-team-star-icon"class="fa fa-star-o"></i> Top Students </span>
              <div class="divider"></div>
              <table class="responsive-table">
                <tbody>
                  <tr>
                    <td>Alvin Smith</td>
                    <td>750</td>
                    <td>80%</td>
                  </tr>
                  <tr>
                    <td>Alan Smith</td>
                    <td>650</td> 
                    <td>75%</td>
                  </tr>
                  <tr>
                    <td>Chriss Smith</td>
                    <td>600</td>
                    <td>70%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="card white">
            <div class="card-content black-text">
              <span class="card-title black-text"><i id="most-improved-icon" class="fa fa-thumbs-o-up"></i> Most Improved </span>
              <div class="divider"></div>
              <table class="responsive-table">
                <tbody>
                  <tr>
                    <td>Alexa Smith</td>
                    <td>750</td>
                    <td id="improvement">+100</td>
                    <td>80%</td>
                  </tr>
                  <tr>
                    <td>Alan Smith</td>
                    <td>650</td> 
                    <td id="improvement">+100</td>
                    <td>75%</td>
                  </tr>
                  <tr>
                    <td>Chriss Smith</td>
                    <td>600</td>
                    <td id="improvement">+100</td>
                    <td>70%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="card white">
            <div class="card-content black-text">
              <span class="card-title black-text"><i id="needs-love-icon" class="fa fa-heart-o"></i> Needs Love </span>
              <div class="divider"></div>
              <table class="responsive-table">
                <tbody>
                  <tr>
                    <td>Alexa Smith</td>
                    <td>750</td>
                    <td>80%</td>
                  </tr>
                  <tr>
                    <td>Alan Smith</td>
                    <td>650</td> 
                    <td>75%</td>
                  </tr>
                  <tr>
                    <td>Chriss Smith</td>
                    <td>600</td>
                    <td>70%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

 