.logo img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.side-nav.fixed {
	width: 200px;
}

.side-nav.fixed a {
	color: #ffffff;
}

.side-nav.fixed li.active { 
    background-color: #263238;
}

.side-nav.fixed li:hover {
	background-color: #4dd0e1;
}

.side-nav.fixed li.logo {
	padding: 30px;
}

.side-nav.fixed li.logo:hover {
	background-color: #37474f;
}

.side-nav.fixed li {
	 border-bottom: solid 1px #263238;
}

div#search-bar {
	margin-left: auto;
  margin-right: auto;
  display: none;
}

header, main, footer {
    padding-left: 100px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
}

main {
  min-height: 700px;
}

.mdi-toggle-check-box {
  color: #8CC739;
}

.mdi-navigation-cancel {
  color: #CE0000;
}

i#top-team-star-icon{
  color: #fbc02d;
}

i#most-improved-icon{
  color: #1a237e;
}

i#needs-love-icon{
  color: #c2185b;
}

td#improvement {
  color: #8CC739;
}

.tabs .indicator {
 background-color: #4dd0e1; 
}
 .tabs .tab a {
        color: #263238;
}

 .tabs .tab a:hover {
        background-color: #4dd0e1;
        color: #ffffff;
      }

nav {
  box-shadow: 0px 0px 0px #ffffff;
}



.slider ul.indicators li.indicator-item.active {
    background-color: #5baf59;
}
