
.centered {
  width:500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left; 
}

.login {
  background-image: url('/images/pyramid.jpg') no-repeat scroll left center;
}

.digg_pagination {
  cursor: default;
}
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    display: block;
    float: left;}
  .digg_pagination .disabled {
    color: #999999;}
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: white;
    background-color: #4dd0e1;
    display: inline;
    text-align: center;
    width: 1.4em;
    height: 1.4em;;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    }
  .digg_pagination a {
    text-decoration: none;
    color: black;}
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }

.logo img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.side-nav.fixed {
	width: 200px;
}

.side-nav.fixed a {
	color: #ffffff;
}

.side-nav.fixed li.active { 
    background-color: #263238;
}

.side-nav.fixed li:hover {
	background-color: #4dd0e1;
}

.side-nav.fixed li.logo {
	padding: 30px;
}

.side-nav.fixed li.logo:hover {
	background-color: #37474f;
}

.side-nav.fixed li {
	 border-bottom: solid 1px #263238;
}

div#search-bar {
	margin-left: auto;
  margin-right: auto;
  display: none;
}

p.small {
    line-height: 90%;
}

.ui-helper-center {
    text-align: center;
}

header, main, footer {
    padding-left: 100px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
}

main {
  min-height: 700px;
}

.mdi-toggle-check-box {
  color: #8CC739;
}

.mdi-navigation-cancel {
  color: #CE0000;
}

.mdi-action-turned-in {
  color: #e3ba0c;
}

.mdi-action-turned-in-not {
  color: #c0c0c0
}

i#top-team-star-icon{
  color: #fbc02d;
}

i#most-improved-icon{
  color: #1a237e;
}

i#needs-love-icon{
  color: #c2185b;
}

td#improvement {
  color: #8CC739;
}

.tabs {
  margin-top: 5px;
  margin-bottom: 5px;
}
.tabs .indicator {
 background-color: #4dd0e1; 
 height: 3px; 
}
 .tabs .tab a {
        color: #263238;
}

 .tabs .tab a:hover {
        background-color: #4dd0e1;
        color: #ffffff;
      }

nav {
  box-shadow: 0px 0px 0px #ffffff;
}

  .card .card-action a {
    color: #37474f
}

a#standings-heading{
  color: #263238;
}

a#standings-heading:hover {
  color: #4dd0e1;
}

.slider ul.indicators li.indicator-item.active {
    background-color: #4dd0e1;
}

p.subtitle {
  font-size: 16px;
  
}

.card .card-content p.subtitle {
  margin: -15px;
  
}

.center {
  text-align: center;
}
 
table.center td{
  text-align: center;
}

table.center th{
  text-align: center;
}

.card .card-content p.settings {
  margin: 0px;

}

tr.show-more{
  display: none;
}

tr.highlight{
  background-color: #e3f2fd;
}

td.right{
  text-align: right;
}
