<div class="row">
  <div class="small-6 columns">
      <%= render :partial => "show" %>
  </div>

  <div class="small-6 columns">
      <%= render :partial => "organization_students" %>
  </div>

  <div class="small-6 columns">   
      <%= render :partial => "organization_teams_by_division" %>
  </div>
